<div class="register_container">
  <form action="">
    <h1>Signup Form</h1>
    <div>
      <label for="email">Email</label>
      <input type="email" name="email" />
    </div>
    <div>
      <label for="password">password</label>
      <input type="email" name="password" />
    </div>
    <button>Signup form</button>
    <p>Already have an account? <a href="">Login</a></p>
    <div>
      <span>Or</span>
    </div>
    <div>
      <img
        [ngSrc]="
          'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAODSrOYhUv2R2FW1iCqccTM1TQyHoesAnbA&s'
        "
        width="55"
        height="55"
        alt="Google"
      />
      Login with Google
    </div>
  </form>
</div>
