/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  height: 100vh;
  background-color: rgba(0, 0, 255, 0.176);
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  width: 100%;
  padding: 0.9rem;
  background-color: rgba(0, 0, 255, 0.176);
  border: none;
  outline: none;
  border-radius: 0.5rem;
  margin: 1rem 0;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.693);
}
